<!-- <div #container class="vertical-scroll-nav position-relative w-100 ">
    <div class="vertical-scroll-nav__line position-absolute h-100 w-px bg-secondary top-0  z-45 d-none d-lg-block" style="top: 2rem; right: 1.25rem;" ></div>
    <div class="vertical-scroll-nav__slider position-absolute w-px bg-primary top-0  rounded-pill z-40 d-none d-lg-block" style="top: 2rem; right: 1.25rem;"
         [style.top.px]="sliderTop"
         [style.height.px]="sliderHeight"></div>
    <ng-container class="d-none d-lg-block">
        @for (position of sectionPositions; track $index ) {
            <div class="vertical-scroll-nav__marker position-absolute w-10 h-10 rounded-circle text-white d-none d-lg-flex align-lg-items-center justify-lg-content-center z-50 "
                 [ngClass]="filledSections[$index] ? 'bg-primary' : 'bg-secondary'"
                 [style.top.%]="position"
                 [style.right.rem]=".4">
                {{ $index + 1 }}
            </div>
        }
    </ng-container>
    <ng-content></ng-content>
</div> -->
<div #container class="vertical-scroll-nav position-relative w-100 ">
    <div class="vertical-scroll-nav__line position-absolute h-100 w-px bg-secondary top-0  z-45 d-none d-lg-block"></div>
    
    <div class="vertical-scroll-nav__slider position-absolute w-px bg-primary top-0  rounded-pill z-40 d-none d-lg-block"
         [style.top.px]="sliderTop"
         [style.height.px]="sliderHeight"></div>
    
    <ng-container class="d-none d-lg-block">
        @for (position of sectionPositions; track $index ) {
            <div class="vertical-scroll-nav__marker position-absolute w-10 h-10 rounded-circle text-white d-none d-lg-flex align-lg-items-center justify-lg-content-center z-50 "
                 [ngClass]="filledSections[$index] ? 'bg-primary' : 'bg-secondary'"
                 [style.top.%]="position"> {{ $index + 1 }}
            </div>
        }
    </ng-container>
    <ng-content></ng-content>
</div>