

    <main class=" main-content mt-5 fade-in">
                     <!-- Page Header -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h1 class="fs-2 fw-bold mb-1">User Management</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item "  ><a  class="text-decoration-none "  routerLink='/dashboard/dashboard-home' routerLinkActive="active">Dashboard</a></li>
                        <li class="breadcrumb-item "> <a  class="text-decoration-none "  routerLink='/dashboard/users' routerLinkActive="active">users</a> </li>
                    </ol>
                </nav>
            </div>
            <button class="btn btn-main-color " data-bs-toggle="modal" data-bs-target="#createJobModal">
                <i class="bi bi-plus-lg me-2"></i>Add New Admin 
            </button>
        </div>
    <div class="card shadow-sm rounded">
                <div class="card-header text-white">
                    <i class="fas fa-list me-2"></i>All Admins
                </div>
                <div class="card fade-in">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover  mb-0" id="jobsTable">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                               
                            </tr>
                        </thead>
                           <tbody>
                      @for (user of users; track user.id) {
                         <tr>
                                 <th scope="row">{{ user.id }}</th>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
             
                                   
                         </tr>
                               
                         
             
            
              
            }
            </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bg-white ">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-muted small">
                        Showing <span id="showingCount">1-7</span> of <span id="totalCount">24</span> jobs
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
            </div>


             <div class="card shadow-sm rounded mt-5">
                <div class="card-header text-white">
                    <i class="fas fa-list me-2"></i>All users
                </div>
                <div class="card fade-in">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover  mb-0" id="jobsTable">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                               
                            </tr>
                        </thead>
                           <tbody>
                      @for (user of users; track user.id) {
                         <tr>
                                 <th scope="row">{{ user.id }}</th>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td> 
                         </tr>
                               
                         
             
            
              
            }
            </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-muted small">
                        Showing <span id="showingCount">1-7</span> of <span id="totalCount">24</span> jobs
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
            </div>
</main>
