<section class="contact mt-5">
  <header class="digital-banner w-100 py-4">
    <div class="banner-content text-center">
      <h1 class="fw-bold text-white tracking-wide">Business, Reimagined</h1>
    </div>
  </header>

  <div class="container my-5 py-5">
    <div class="all-form-row row rounded-start rounded-end rounded-end-md-md rounded-md-5 px-0 shadow-lg">
      <div class="col-md-6  p-4 p-md-5">
        <h2 class="fw-bold mb-4">Contact Us</h2>
        <form id="contactForm" class="row g-3">
          <div class="col-12">
            <label for="name" class="form-label  mb-1">Your Name</label>
            <input type="text" id="name" name="name" class="form-control" required>
          </div>
          <div class="col-12">
            <label for="mobile" class="form-label  mb-1">Mobile</label>
            <input type="tel" id="mobile" name="mobile" class="form-control" required>
          </div>
          <div class="col-12">
            <label for="email" class="form-label  mb-1">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
           <div class="col-12">
            <label for="title" class="form-label  mb-1">Title</label>
            <input type="text" id="title" name="title" class="form-control" required>
          </div>
          <div class="col-12">
            <label for="company" class="form-label  mb-1">Company</label>
            <input type="text" id="company" name="company" class="form-control" required>
          </div>
            <div class="col-12">
            <label for="region" class="form-label  mb-1">Region</label>
            <input type="text" id="region" name="region" class="form-control" required>
          </div>
            <div class="col-12">
               <label for="solutions" class="form-label  mb-1">Solutions</label>
              <select class="form-select " id="solutions" aria-label="Default select example">
                         <option selected>Digital Maturity Assessment</option>
                             <option value="1">Digital Transformation</option>
                              <option value="2">AI-Ready IIoT Platform</option>
                            <option value="3">Smart Manufacturing</option>
                            <option value="4">Industrial Automation</option>
                            <option value="5">PI System</option>
                            <option value="6">Real-Time Data & Analytics</option>
                      </select>
            </div>
              <div class="col-12">
               <label for="Industries" class="form-label  mb-1">Industries</label>
              <select class="form-select " id="Industries" aria-label="Default select example">
                         <option selected>Food & Beverage</option>
                             <option value="1">Life Sciences & Pharmaceuticals</option>
                              <option value="2">Water & Wastewater</option>
                            <option value="3">Smart Cities</option>
                      </select>
            </div>
          <div class="col-12">
            <label for="message" class="form-label  mb-1">Message</label>
            <textarea id="message" name="message" rows="4" class="form-control resize-none" required></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-custom w-100 d-flex align-items-center justify-content-center py-2">
              <span class="me-2">Send Message</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </form>
      </div>

      <div class="col-md-6 p-0 m-0">
        <div class="d-flex flex-column h-100">
          <div class=" text text-center py-3">
            <h3 class="fw-bold m-0 text-primary">Global Expertise, Local Delivery</h3>
          </div>
          <div class="map text-center flex-grow-1 overflow-hidden pe-0 pe-md-3">
            <img src="/images/Picture2.png" alt=" where is texvia work" class="w-100 h-100 object-fit-cover">
          </div>
          <div class="text px-2  text-center py-3">
            <p class="fw-bold mb-0">Our cross-regional presence enables us to deliver premium industrial automation and IoT solutions at competitive rates.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>