<!-- <section class="navbar navbar-expand-lg fixed-top z-10 mb-2">
  <div class="container-fluid">
    <a
      class="logo text-decoration-none"
     routerLink="./home"
     routerLinkActive=""
      >TEXVIA</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/solutions">solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/industries">industries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">courses</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li class="nav-item">
              <a class="nav-link" routerLink="./login">Login</a>
            </li>
            <li class="nav-item">
              <a class=" nav-link" routerLink="./register">Register</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section> -->
<!-- <nav class="navbar navbar-expand-lg fixed-top z-10 mb-2">
   <div class="container-fluid">
    <a
      class="logo text-decoration-none"
     routerLink="/home"
     routerLinkActive=" text-danger"
      >TEXVIA</a
    >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="text-danger">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/solutions" routerLinkActive="text-danger">solutions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/industries" routerLinkActive="text-danger">industries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/services" routerLinkActive="text-danger">services</a>
      </li>
      
    </ul>
</div>
  </div>
</nav> -->
<section class="navbar navbar-expand-lg fixed-top z-10 mb-2">
  <div class="container-fluid">
    <a class="logo text-decoration-none" routerLink="/home" routerLinkActive="active">TEXVIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/solutions" routerLinkActive="active">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/industries" routerLinkActive="active">Industries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact us </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
