// -----------------main colors ---------------------------------------
$main-color :#6A05A6;
$secend-main-color:#3F1256;
$black-color:#000000;
$white-color:white;
$footer-color:#343a40;
$btn-color: #007bff;
$btn-hover:#3051DB;
$text-muted: #666;
$card-bg: rgba(255, 255, 255, 0.1);